@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,700&display=swap');

/* ?shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    border-radius: .5rem;
    background: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}
.secion-description {
    color: #727272;
}

/* header styles */
header {
    /* display: flex; */
    background: rgba(255, 144, 14, 0.10);
    /* justify-content: space-between; */
    padding: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.8rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



.img img {
    width: 100%;
    margin-top: 40px;
}
/* section-features */
.features{
    display: flex;
    justify-content: space-between;
}
.grid-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}





/* responsive media queries */
/* mobiles */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
    
}
/* tablets */
@media  screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
}